:root {
  --primary-color: #0070f3;
  --secondary-color: #61dafb;
  --background-color: #161F6D;
  /* Background color */
  --header-footer-background: #161F6D;
  /* Header and footer background color */
  --text-color: white;
  /* Updated text color to white */
  --link-color: var(--primary-color);
  --gradient-start: #00ABE1;
  /* Gradient start color */
  --gradient-end: #00ABE1;
  /* Gradient end color */
}

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  /* Prevent horizontal scroll */
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  /* Updated background color */
  color: var(--text-color);
  /* Updated text color to white */
}