:root {
    --primary-color: #0070f3;
    --secondary-color: #61dafb;
    --background-color: #f0f4f8;
    --header-footer-background: #333;
    --text-color: #333;
    --link-color: var(--primary-color);
  }

  * {
    box-sizing: border-box;
  }


  body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

  body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
  }